@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family:'PT sans', Arial, Helvetica, sans-serif;
  --spacing: 20px;
  --accept-color: #16a34a;
  --cancel-color: #9d174d;
}

body {
  background-color: #f8fafc;
}

header {
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: bold;
}

#popup-btn {
  margin: 2.5rem 0;

  width: fit-content;
  height: 2rem;

  font-size: 2rem;
  font-weight: bold;

  cursor: pointer;

  color: rgba(0, 0, 0, .5);
  border: none;
  background-color: rgba(0, 0, 0, 0);

  transition: all 200ms ease-out;
}

#popup-btn::before {
  content: '+';
}

#popup-btn:hover {
  color: black;
  font-size: 2.2rem;
}

/* change to grid for auto fit */
#bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing);
  padding: 0 2rem;
}

.book { 
  width: 180px;
  height: 220px;
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: all 1s ease;
}

.book:hover .card-content {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding: var(--spacing);
  border-radius: 4px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2);
  
  backface-visibility: hidden;
}

.card-front {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 4px;
  background-color: white;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  flex: auto;

  width: 100%;
  word-wrap: break-word;
}

.num-pages {
  position: absolute;
  right: calc(var(--spacing) / 2);
  bottom: calc(var(--spacing) / 2);
}


.card-back {
  padding: 0;
  display: flex;
  transform: rotateY(180deg);
}

.card-back button{
  border: none;
  flex: 1;
  font-size: 24px;
  transition: all 500ms cubic-bezier(.45,.9,.49,.99);
}

.card-back button:hover {
  flex: 3;
  font-size: 48px;
  color: white;
}

.card-back button:active{
  font-size: 24px;
}

.read-btn {
  border-radius: 0 4px 4px 0;
  background-color: var(--accept-color);
}

.rm-btn {
  border-radius: 4px 0 0 4px;
  background-color: var(--cancel-color);
}

.card-front::before {
  content: "READ";
  position: absolute;
  display: block;

  right: var(--spacing);

  font-size: 1.5rem;
  padding: 0.25rem  .8rem;
  
  color: var(--accept-color);

  border: 2px solid var(--accept-color);
  border-radius: 4px;

  opacity: 0;
  transform: translateY(-60px) scale(1.4) rotate(-5deg);
  
  transition: all 180ms ease-out;
  transition-delay: 1s;
}

.read.book .card-front::before {
  opacity: 1;
  transform: translateY(50px) scale(1) rotate(10deg);
}

/* Popup logic */

#book-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1rem;
  width: min(100vw, 350px);
  background-color: white;

  font-size: 1.3rem;

  border-radius: 4px;
}

#book-form input:not([type='checkbox']),
#book-form button {
  height: 2rem;
  width: 100%;
  font-size: 80%;
}

#book-form button {
  border: none;
  border-radius: 4px;
  color: white;

  transition: all 200ms ease;
}

#book-form button:hover {
  transform: scale(1.05);
  font-weight: bold;
}

#book-form div:nth-child(5) {
  display: flex;
  align-items: center;
}

#book-form input[type='checkbox'] {
  margin-left: .5rem;
}

#book-form div:nth-last-child(1) {
  display: flex;
  flex-direction: column;

  gap: .5rem;
}

#book-modal.showing #book-form {
  animation: slide-right 500ms forwards;
}

#book-modal.hiding #book-form {
  animation: shrink 500ms forwards;
}

#book-modal.hide {
  display: none;
}

#book-modal{
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, .2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.hiding {
  animation: fadein 500ms forwards;
}

.showing {
  animation: fadeout 500ms forwards;
}

@keyframes fadein {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes shrink {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}