* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --spacing: 20px;
}

#bookshelf {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
}

.book {
  position: relative;
 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);

  width: 180px;
  height: 220px;

  padding: var(--spacing);

  border-radius: 8px;
  
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, .5);

  transition: all 1s ease;
}

.book:hover {
  display: grid;
  width: 280px;
}

.title {
  text-align: center;
}

.title,
.author,
.num-pages{
  grid-column: 1 / span 2;
}

.book button,
.author,
.num-pages {
  opacity: 0;
  transform: translateX(calc(2 * var(--spacing)));
  transition: all 1s ease;
}

.book:hover button,
.book:hover .author,
.book:hover .num-pages {
  opacity: 1;
  transform: translateX(0);
}

.book::before {
  content: "READ";
  position: absolute;
  display: block;

  right: var(--spacing);

  font-size: 1.5rem;
  padding: 0.25rem  .8rem;
  
  color: green;

  border: 2px solid green;
  border-radius: 4px;

  opacity: 0;
  transform: translateY(-60px) scale(1.4) rotate(-5deg);
  
  transition: all 180ms ease-out;
}

.read.book::before {
  opacity: 1;
  transform: translateY(0) scale(1) rotate(10deg);
}

.book button {
  place-self: center;
  
  font-size: 24px;
  width: 48px;

  border-radius: 4px;
  
  background-color: rgba(0, 0, 0, 0);

  transition: all 250ms ease;
}

.book button:hover {
  transform: scale(1.2);
}

.read-btn {
  color: green;
  border: 2px solid green
}

.rm-btn {
  color: red;
  border: 2px solid red;
}
