@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family:'PT sans', Arial, Helvetica, sans-serif;
  --spacing: 20px;
}

header {
  padding: 1rem;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: bold;
}

#popup-btn {
  margin: 2rem 0;

  width: fit-content;
  height: 2rem;

  font-size: 2rem;
  font-weight: bold;

  cursor: pointer;

  color: gainsboro;
  border: none;
  background-color: rgba(0, 0, 0, 0);

  transition: all 200ms ease-out;
}

#popup-btn::before {
  content: '+';
}

#popup-btn:hover {
  color: black;
  font-size: 2.2rem;
}

/* change to grid for auto fit */
#bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing);
  padding: 0 2rem;
}

.book {
  position: relative;
 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);

  width: 180px;
  height: 220px;

  padding: var(--spacing);

  border-radius: 8px;
  
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, .5);

  transition: all 1s ease;
}

.book:hover {
  display: grid;
  width: 280px;
}

.title {
  text-align: center;
}

.title,
.author,
.num-pages{
  grid-column: 1 / span 2;
}

.book button,
.author,
.num-pages {
  opacity: 0;
  transform: translateX(calc(2 * var(--spacing)));
  transition: all 1s ease;
}

.book:hover button,
.book:hover .author,
.book:hover .num-pages {
  opacity: 1;
  transform: translateX(0);
}

.book::before {
  content: "READ";
  position: absolute;
  display: block;

  right: var(--spacing);

  font-size: 1.5rem;
  padding: 0.25rem  .8rem;
  
  color: green;

  border: 2px solid green;
  border-radius: 4px;

  opacity: 0;
  transform: translateY(-60px) scale(1.4) rotate(-5deg);
  
  transition: all 180ms ease-out;
}

.read.book::before {
  opacity: 1;
  transform: translateY(0) scale(1) rotate(10deg);
}

.book button {
  place-self: center;
  
  font-size: 24px;
  width: 48px;

  border-radius: 4px;
  
  background-color: rgba(0, 0, 0, 0);

  transition: all 250ms ease;
}

.book button:hover {
  transform: scale(1.2);
}

.read-btn {
  color: green;
  border: 2px solid green
}

.rm-btn {
  color: red;
  border: 2px solid red;
}

/* Popup logic */

#book-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1rem;
  width: min(100vw, 350px);
  background-color: white;

  font-size: 1.3rem;

  border-radius: 4px;
}

#book-form input:not([type='checkbox']),
#book-form button {
  height: 2rem;
  width: 100%;
  font-size: 80%;
}

#book-form div:nth-child(5) {
  display: flex;
  align-items: center;
}

#book-form input[type='checkbox'] {
  margin-left: .5rem;
}

#book-form div:nth-last-child(1) {
  display: flex;
  flex-direction: column;

  gap: .5rem;
}

#book-modal.showing #book-form {
  animation: slide-right 500ms forwards;
}

#book-modal.hiding #book-form {
  animation: shrink 500ms forwards;
}

#book-modal.hide {
  display: none;
}

#book-modal{
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, .2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.hiding {
  animation: fadein 500ms forwards;
}

.showing {
  animation: fadeout 500ms forwards;
}

@keyframes fadein {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes shrink {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

